@charset "utf-8";
/* CSS Document */

::-webkit-scrollbar {
  display: none;
}

body, ul, h1, input {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

#root {
  height: inherit;
}

.app {
  height: inherit;
}

.page-wrapper {
  height: inherit;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: rgb(80, 80, 80);
  color: rgb(205, 205, 205);
  height: 23px;
  font-size: 10px;
}

button#menu {
  visibility: visible;
  margin: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  background-size: cover;
  background-image: url('../img/museum_icon.png');
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  border: none;
}

#maincontent {
  display: flex;
  height: inherit;
}

#map {
  background-color: rgb(242, 242, 242);
  flex: 3;
  order: 2;
  display: block;
  position: relative;
  margin: 43px 0 50px 0;
}

.additional-info {
  max-width: 200px;
}

#filter-options {
  display: block;
  overflow:scroll;
  overflow-x:hidden;
  margin: 43px 0 50px 0;
  flex: 20;
  order: 1;
  background-color: rgb(242, 242, 242);
  color: black;
  border-right: 2px solid rgb(80, 80, 80);
}

#filter-options.hidden {
  display: none;
}

#filter-options input {
  width: 85%;
  margin: 10px 5% 10%;
  height: 25px;
}

#filter-options div {
  width: 90%;
  margin: 0 5%;
}

#filter-options ul {
  padding: 5px 0;
  
}

#filter-options ul:hover {
  cursor: pointer;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  background-color: rgb(80, 80, 80);
  color: rgb(205, 205, 205);
  height: 10px;
  font-size: 10px;
}


@media screen and (min-width:750px) {
  #header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: rgb(80, 80, 80);
    color: rgb(205, 205, 205);
    height: 35px;
    font-size: 16px;
  }

  button#menu {
    visibility: hidden;
  }

  #maincontent {
    display: flex;
    height: inherit;
  }

  #map {
    background-color: red;
    flex: 3;
    order: 2;
    display: block;
    position: relative;
    margin: 55px 0;
  }

  #filter-options {
    overflow:scroll;
    overflow-x:hidden;
    margin: 55px 0;
    display: block;
    flex: 1;
    order: 1;
    background-color: rgb(242, 242, 242);
    color: black;
    border-right: 2px solid rgb(80, 80, 80);
  }

  #filter-options.hidden {
    display: block;
  }

  #filter-options input {
    width: 85%;
    margin: 10px 5% 10%;
    height: 25px;
  }

  #filter-options div {
    width: 90%;
    margin: 0 5%;
  }

  #filter-options ul {
    padding: 5px 0;
    
  }

  #filter-options ul:hover {
    cursor: pointer;
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    background-color: rgb(80, 80, 80);
    color: rgb(205, 205, 205);
    height: 15px;
    font-size: 16px;
  }
}

